{%extends 'base.html' %}
<!-- {% block content %}
<h1>Hi, {{ current_user.username }}!</h1>
{% for post in posts %}
<div>
    <p>{{ post.author.username }} says: <b>{{ post.body }}</b></p>
</div>
{% endfor %} -->

<div class="container"><br><br>
    <div class="row">
        <div class="col-md-4">

            <div class="card jumbotron text-center">


                <div class="card-body">
                    <h2 class="card-title">Product Pitches</h2>
                    <p class="card-text">“We provide advice, banking, insurance, investment options, and guidance on
                        how you can live generously. Money itself isn’t your end goal. (But it can help you get there.)
                        Our financial guidance can help you move forward in life and reach your own higher purpose. We
                        take the time to learn what matters most to you and provide resources that help you put your
                        values into action.”</p>
                    <a href="{{url_for('main.technology')}}" class="btn btn-primary">See More</a>
                </div>
            </div>
        </div>


        <div class="col-md-4">
            <div class="card jumbotron text-center">


                <div class="card-body">
                    <h2 class="card-title">Interview Pitches</h2>
                    <p class="card">I’m Nancy, a lawyer with the government, based out of D.C. I grew up in Ohio,
                        though, and I’m looking to relocate closer to my roots, and join a family-friendly firm. I
                        specialize in labor law and worked for ABC firm before joining the government.”</p>
                    <a href="{{url_for('main.travels')}}" class="btn btn-primary">See More</a>
                </div>
            </div>

        </div>


        <div class="col-md-4">
            <div class="card jumbotron text-center">


                <div class="card-body">
                    <h2 class="card-title">Promotion Pitches</h2>
                    <p class="card">EM company develops and designs personalized online sales funnels. That means two
                        things: one, online customers enjoy a flawless user experience
                        tailored to their needs and interests, and two: our clients get automated solutions that
                        dramatically boost sales. We helped our last client increase
                        online revenue by 120% month-on-month [hard numbers behind your results].</p>
                    <a href="{{url_for('main.sports')}}" class="btn btn-primary">See More</a>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}